.rating{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-end;
      gap:10px
}
@media screen and (min-width: 416px) and (max-width:768px) {
      .star{
            width: 20px;
      }
}

@media screen and (max-width: 415px) {
      .rating {
            z-index: 1;
      }
      .star{
            width: 15px;
      }

}