.tags {
      display: flex;
      margin-top: 20px;
      margin-bottom: 26px;
      gap: 10px;
}
.tag{
      background-color: #FF6060;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}
.tag-text {
      font-size: 14px;
      color: white;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 7px;
      padding-bottom: 7px;
}

@media screen and (min-width: 416px) and (max-width:768px) {
      .tags{
            flex-wrap: wrap;
            margin-bottom: 0;
            margin-top: 30px;
      }
      .tag-text {
            font-size: 12px;
      }
}


@media screen and (max-width: 415px) {
      .tags{
            flex-wrap: wrap;
            margin-top:10px;
            margin-bottom: 16px;
}
      .tag{
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
      }
      .tag-text {
            font-size: 10px;
            padding-left: 27px;
            padding-right: 27px;
            padding-top: 5px;
            padding-bottom: 5px;
      }
}