.slideshow{
      position: relative;
      height: 370px;
      width: 100%;
}
.slideshow-img {
      width: 100%;
      overflow: hidden;
      object-fit:cover;
      height: 100%;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}

.chevron-left,.chevron-right {
      position: absolute;
      bottom: 40%;
      width: 46px;
}
.slideshow-text {
      position: absolute;
      font-size:18px;
      color:white;
      bottom: 20px;
      left:50%;
}
.chevron-left{
      left:20px;
}
.chevron-right{
      right:20px;
}

@media screen and (min-width: 416px) and (max-width:768px) {

      .chevron-left,.chevron-right {
            width: 25px;
      }
}

@media screen and (max-width: 415px) {
      .slideshow{
            height: 255px;

      }
      .chevron-left,.chevron-right {
            width: 11px;
      }
      .slideshow-text {
            font-size: 13px;
      }

}